* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-size: 38px;
    font-weight: 700px;
}

.btn1 {
    width: 150px;
    height: 50px;
    border-radius: 10px;

}

/* banner */
.banner-section-container {
    max-width: 1920px;
    height: 650px;
    border: 2px solid red;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner-image-container {
    width: 240.28px;
    height: 240px;
}

.banner-text-container {
    width: 998px;
    height: 212px;
    text-align: center;
    margin-top: 30px;
}

.banner-btn {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
}